@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap');

body {
  margin: 0;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.row{
  margin:0;
}

.form-group{
  margin-bottom: 1rem;
}

.active {
  font-weight: bold;
}

a {
  color: white;
}

.list-group-item{
  background-color: unset;
  border: unset;
}

/* Login Styling */

.Login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: black;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.Layout {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
}

.NavBar {
  height: 6vh;
}

.NavbarBrand{
  color: black;
}

/* Main Panel Styling */

.Main-panel {
  height: 94vh;
  padding: 0;
  border-right: 3px solid;
  overflow-y: scroll;
}

.Jumbotron-MainPanel{
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding-left: 30px;
  font-size: 3em;
}

/* Robot Panel Styling */

.Robot-panel {
  height: 47vh;
  overflow-y: scroll;
  padding: 0;
  border-bottom: 1px solid;
  text-align: center;
}

.Jumbotron-RobotPanel {
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 2em;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

.Robot-media{
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid;
  padding: 5px 10px 5px 10px;
}

.RobotDetail {
  padding: 5px 20px;
}

/* Orders Panel Styling and All Orders Styling*/

.Orders {
  border-top: 1px solid;
  height: 47vh;
  overflow-y: scroll;
  padding: 0;
  text-align: center;
}

.Orders .jumbotron{
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 2em;
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

.OrderItem {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Menu Styling */

.Food-item {
  padding: 5px;
}

.Item-img {
  height: 150px;
}

.Item-overlay {
  position: relative;
  padding: 0px;
}

.Item-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  background-color: #000;
  color: #fff;
  opacity: 0.7;
  margin: 0;
}

/* Item Details Styling */

.ItemDetails {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid;
  width: 100%;
  align-items: center;
  margin: 0px;
  margin-bottom: 15px;
  padding:20px;
  border-radius: 10px;
}

/* Reviews Styling */

.Reviews {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 10px;
  border-radius: 10px;
}

.ReviewsHeader {
  font-size: 1.5em;
}

/* Table Styling */

.Table-card {
  margin: 5px;
}

.Table-cardheader {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.Table-carddetail {
  padding-top: 0px;
}
/* Loading Styling */

.Spinner {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-size: 100%;
}






.card{
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid;
}




.nav-tabs{
  background-color: rgba(255, 255, 255, 0.5);
}

.Modal{
  color: #000;
}



.breadcrumb {
  background-color: rgba(0, 0, 0, 0.6);
}